<!--Header Start-->

<div class="header">
    <div class="header-wrapper">
        <div class="burger-menu">
            <button type="button" class="burger-menu-btn" title="Open navigation">
                <img class="svg burger-menu-btn-icon" src="https://cdn.playground-v2.programiz.com/assets/icons/burger.svg" />
            </button>
        </div>
        <div class="logo-wrapper">
            <h1 class="logo-title-wrapper">
                <a href="https://www.programiz.com/" target="_blank" class="logo-link">
                    <img id="logo" src="https://cdn.playground-v2.programiz.com/assets/logos/logo.svg" />
                    <span class="logo-sub-title-wrapper">
                        <span class="logo-sub-title">
                            Python Online Compiler
                        </span>
                    </span>
                </a>
            </h1>
        </div>
    </div>
    <div class="compiler-header-ad">
        <div id="div-gpt-ad-Programizcom36786" class="content-top-ad">
        </div>

        <!-- buysell ads -->
        <div class="compiler-header-ad" id="carbon-block"></div>

    </div>
    <div id="add-replacement"></div>

    <div id="feedback-mobile">
        <a id="mobile-ad-link">&nbsp;Learn Python</a>
    </div>
</div>

<!--Header End-->