<!--Header Start-->

<div class="header">
    <div class="header-wrapper">
        <div class="burger-menu">
            <button type="button" class="burger-menu-btn" title="Open navigation">
                <img class="svg burger-menu-btn-icon" src="https://cdn.playground-v2.programiz.com/assets/icons/burger.svg" />
            </button>
        </div>
        <div class="logo-wrapper">
            <h1 class="logo-title-wrapper">
                <a href="https://localhost:7028/home/index" class="logo-link">
                    <img id="logo" style="max-width: 100px; height: 50px; background: none;
                       image-rendering: -moz-crisp-edges;
                       image-rendering: -o-crisp-edges;
                       image-rendering: -webkit-optimize-contrast;
                       image-rendering: crisp-edges;
                       image-rendering: pixelated;"
                         src="@(Url.Content("~/assets/icons/logo.png"))" />
                    <span class="logo-sub-title-wrapper">
                        <span class="logo-sub-title">
                            Python                    Online Compiler
                        </span>
                    </span>
                </a>
            </h1>
        </div>
    </div>
    <div class="compiler-header-ad">
        <div id="div-gpt-ad-Programizcom36786" class="content-top-ad">
        </div>

        <!-- buysell ads -->
        <div class="compiler-header-ad" id="carbon-block"></div>

    </div>
    <div id="add-replacement"></div>

    <div id="feedback-mobile">
        <a id="mobile-ad-link">&nbsp;Learn Python</a>
    </div>
</div>

<!--Header Start-->

