<!DOCTYPE html>
<html>

<head>
    <title>
        Online Python Compiler
    </title>
    <link rel="shortcut icon" href="https://www.programiz.com/sites/tutorial2program/files/favicon.png" />
    <link rel="stylesheet" href="https://fonts.programiz.com/fonts.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link rel="canonical" href="https://www.programiz.com/python-programming/online-compiler/" />
    <meta name="description" content="Write and run your Python code using our online compiler. Enjoy additional features like code sharing, dark mode, and support for multiple programming languages." />

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://programiz.com/python-programming/online-compiler/" />
    <meta property="og:title" content="Online Python Compiler" />
    <meta property="og:description" content="Write and run your Python code using our online compiler. Enjoy additional features like code sharing, dark mode, and support for multiple programming languages." />
    <meta property="og:image" content="https://programiz.com/online-compiler/assets/logos/compiler_logo.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:url" content="https://programiz.com/python-programming/online-compiler/" />
    <meta name="twitter:title" content="Online Python Compiler">
    <meta name="twitter:description" content="Write and run your Python code using our online compiler. Enjoy additional features like code sharing, dark mode, and support for multiple programming languages." />
    <meta name="twitter:image" content="https://programiz.com/online-compiler/assets/logos/compiler_logo.png" />

    <!-- CMP and header ad code start -->
    <script>
        var url = window.location.href;
        window.googletag = window.googletag || {
            cmd: []
        };
        window.googletag.cmd.push(function () {
            switch (true) {
                case url.includes("/python-programming/numpy"):
                    window.googletag.pubads().setTargeting('prog_lang', 'numpy');
                    break;
                case url.includes("/sql"):
                    window.googletag.pubads().setTargeting('prog_lang', 'sql');
                    break;
                case url.includes("/c-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'c_programming');
                    break;
                case url.includes("/cpp-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'c_plus_plus');
                    break;
                case url.includes("/csharp-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'c_sharp_lang');
                    break;
                case url.includes("/dsa"):
                    window.googletag.pubads().setTargeting('prog_lang', 'dsa');
                    break;
                case url.includes("/java-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'java');
                    break;
                case url.includes("/javascript"):
                    window.googletag.pubads().setTargeting('prog_lang', 'javascript');
                    break;
                case url.includes("/kotlin-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'kotlin');
                    break;
                case url.includes("/python-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'python');
                    break;
                case url.includes("/swift-programming"):
                    window.googletag.pubads().setTargeting('prog_lang', 'swift');
                    break;
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <style>
        #editor {
            height: 400px;
            width: 100%;
            white-space: pre; /* Hiển thị đúng cách các khoảng trắng */
            font-family: monospace;
        }

        .text {
            white-space: pre;
        }

    </style>

    <script src="https://cmp.uniconsent.com/v2/stub.min.js"></script>
    <script async src='https://cmp.uniconsent.com/v2/a8d3ae4937/cmp.js'></script>
    <script type="text/javascript">
        window.googletag = window.googletag || {};
        window.googletag.cmd = window.googletag.cmd || [];
        window.googletag.cmd.push(function () {
            window.googletag.pubads().enableAsyncRendering();
            window.googletag.pubads().disableInitialLoad();
        });
        (adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 1;
    </script>
    <script>
        __tcfapi("addEventListener", 2, function (tcData, success) {
            if (success && tcData.unicLoad === true) {
                if (!window._initAds) {
                    window._initAds = true;
                    var script = document.createElement('script');
                    script.async = true;
                    script.src = '//dsh7ky7308k4b.cloudfront.net/publishers/Programizcomnew.min.js';
                    document.head.appendChild(script);

                    script = document.createElement('script');
                    script.async = true;
                    script.src = '//btloader.com/tag?o=5184339635601408&upapi=true';
                    document.head.appendChild(script);
                }
            }
        });
    </script>
    <!-- CMP and header tag ad code end -->

    <!-- Generated using https://dns-prefetch-generator.github.io/ -->
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="//www.googletagservices.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//c.amazon-adsystem.com" />
    <link rel="dns-prefetch" href="//dsh7ky7308k4b.cloudfront.net" />
    <link rel="dns-prefetch" href="//securepubads.g.doubleclick.net" />
    <link rel="dns-prefetch" href="//adservice.google.com" />
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />

    <link rel="stylesheet" href="https://cdn.playground-v2.programiz.com/playground.css?v=1fsaf" />
    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>

<body>
    <!-- <select id="language-changer"></select> -->
    <div class="container" id="root" data-lang="python">
        <div class="spinner">
            <div class="loader"><span>{</span><span>}</span></div>
        </div>
   
        <!-- Share code -->

        <!-- Notification -->
        <div class="notification " id="notification" style="display:none;">
            <div class="check-icon-wrapper">
                <img src="https://cdn.playground-v2.programiz.com/assets/icons/check.svg" alt="check">
            </div>

            <div class="notification-message-wrapper">
                <p class="notification-message"></p>
                <button type="button" class="close-modal-notification" title="Close">
                    <img class="svg" src="https://cdn.playground-v2.programiz.com/assets/icons/close-v2-small.svg" />
                </button>
            </div>
        </div>

        <!-- Share code end -->

        <div class="wrapper">
            <!--Header-->
            <partial name="_Header" />
            <div class="mobile-top-bar clearfix">
                <div class="pills-wrapper">
                    <div class="pills clearfix">
                        <button class="pill active compiler-pill">
                            main.py
                        </button>
                        <button class="pill shell-pill">
                            Output
                        </button>
                    </div>
                </div>

                <!-- Change the position of option wrapper which contain dark mode toggle and share in mob view -->
                <div class="options-wrapper">
                    <!-- <div id="back-button" class="options-item-wrapper clearfix">
                      <img class="svg options-item" src="https://cdn.playground-v2.programiz.com/assets/icons/back-arrow.svg" />
                    </div> -->
                    <div id="toggle-dark-mode-mobile" class="options-item-wrapper clearfix">
                        <img class="toggle-dark-mode-mobile-icon moon svg options-item" src="https://cdn.playground-v2.programiz.com/assets/icons/moon.svg" />
                        <img class="toggle-dark-mode-mobile-icon sun svg options-item" src="https://cdn.playground-v2.programiz.com/assets/icons/sun.svg" />
                    </div>
                    <button class="share-button-mob" title="Share">
                        <img class="svg share-icon" src="https://cdn.playground-v2.programiz.com/assets/icons/share.svg" />
                    </button>
                </div>
                <div class="other-options-wrapper">
                    <!-- <div id="feedback-mobile" class="options-item-wrapper">
                      <a href="https://programiz.com/contact" class="options-item">
                        <img class="svg" src="https://cdn.playground-v2.programiz.com/assets/icons/message-square.svg" />
                      </a>
                    </div> -->
                    <div class="mobile-top-bar-run-button run">

                        <img src="https://cdn.playground-v2.programiz.com/assets/icons/play.svg" alt="run-icon" />
                    </div>
                </div>
            </div>

            <!--SideBar-->
            <partial name="_SideBar" />

            <!--Editor Start-->

            <div class="editor-wrapper">
                <div class="editor-desktop-top-bar">
                    <div class="file-name">
                        main.py
                    </div>
                    <div class="desktop-top-bar__btn-wrapper">
                        <button type="button" id="toggle-expanded-mode-desktop" title="Enter Fullscreen">
                            <img class="toggle-expanded-mode-mobile-icon expand svg" src="https://cdn.playground-v2.programiz.com/assets/icons/expand.svg" />
                            <img class="toggle-expanded-mode-mobile-icon minimize hidden svg" src="https://cdn.playground-v2.programiz.com/assets/icons/minimize.svg" />
                        </button>
                        <button type="button" id="toggle-dark-mode-desktop" title="Toggle dark mode">
                            <img class="toggle-dark-mode-mobile-icon moon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/moon.svg" />
                            <img class="toggle-dark-mode-mobile-icon sun svg" src="https://cdn.playground-v2.programiz.com/assets/icons/sun.svg" />
                        </button>
                        <!-- Change first none to flex to re-enable the save button -->
                        <!--  Uncomment this if require in future -->
                        <!-- <button class="desktop-save-button"
                            style="display: block">
                            @RenderBody()
                            <span>
                                &nbsp;Save&nbsp;
                            </span>
                        </button> -->
                        <button class="share-button" title="Share">
                            <img class="toggle-expanded-mode-mobile-icon svg share-icon" src="https://cdn.playground-v2.programiz.com/assets/icons/share.svg" />
                            Share
                        </button>
                        <button class="share-button tablet-share" title="Share">
                            <img class="toggle-expanded-mode-mobile-icon svg share-icon" src="https://cdn.playground-v2.programiz.com/assets/icons/share.svg" />
                        </button>
                        <button class="desktop-run-button run">
                            <span class="run-text">
                                &nbsp;Run&nbsp;
                            </span>
                        </button>
                    </div>
                </div>
                <button class="mobile-run-button run">
                    Run
                </button>
                <div id="editor">
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
print("Try programiz.pro")
                </div>
            </div>

            <!--Editor End-->

            <!--Terminal-->
            <partial name="_Terminal" />
        </div>
    </div>

    <script defer type="text/javascript">
        const lang = "python";

        var playStoreUrl =
            "https://play.google.com/store/apps/details?id=com.programiz.learnpython",
            appStoreUrl =
                "https://apps.apple.com/app/apple-store/id1472188189?pt=120228772",
            desktopUrl = "https://www.programiz.com/learn-python";

        const desktopAdsButton = document.getElementById("ad-link");
        const mobileAdsButton = document.getElementById("mobile-ad-link");

        const challengeLinkProbability = 0 / 100; // in percentage
        const hasChallengeLinkAsAds = Math.random() <= challengeLinkProbability;

        if (hasChallengeLinkAsAds) {
            const baseURL = "https://app.programiz.pro/community-challenges/home"
            desktopAdsButton.innerHTML = `Python Challenges ❯`;
            mobileAdsButton.innerHTML = `Python Challenges`;
            desktopAdsButton.href = baseURL;
            mobileAdsButton.href = baseURL;
        } else {
            const utm = "utm_source=compiler-nav&utm_campaign=programiz&utm_medium=referral"
            const baseURL = `https://programiz.pro?${utm}`

            desktopAdsButton.innerHTML = `Programiz PRO ❯`;
            mobileAdsButton.innerHTML = `Programiz PRO`;
            desktopAdsButton.href = baseURL;
            mobileAdsButton.href = baseURL;
        }

        desktopAdsButton.target = "_blank"
        mobileAdsButton.target = "_blank"
    </script>

    <!-- Khởi tạo ACE Editor -->
    <script>
        // Khởi tạo trình soạn thảo ACE
        var editor = ace.edit("editor");

        // Sự kiện click được viết lại
        editor.container.addEventListener('click', function (e) {
            // Lấy vị trí trên màn hình nơi người dùng nhấp chuột
            var screenPosition = editor.renderer.screenToTextCoordinates(e.clientX, e.clientY);

            // Lấy nội dung dòng tại vị trí hiện tại
            var session = editor.getSession();
            var lineContent = session.getLine(screenPosition.row);

            // Kiểm tra xem vị trí click có nằm ngoài văn bản (khoảng trắng cuối dòng) không
            if (screenPosition.column > lineContent.length) {
                // Nếu đúng, di chuyển con trỏ về cuối dòng
                editor.moveCursorTo(screenPosition.row, lineContent.length);
            } else {
                // Nếu không, di chuyển con trỏ đến vị trí click chính xác
                editor.moveCursorTo(screenPosition.row, screenPosition.column);
            }
        });

        // Cấu hình ACE Editor
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/python");
        editor.session.setOption("wrap", false);  // Tắt tính năng gói từ (word wrap)
        editor.getSession().setUseWorker(false);  // Tắt chuyển đổi mã thành HTML tự động
    </script>

    <!-- The use of the cloudflare cdn for all external libraries is intential. We are trying to reduce the number
         of DNS lookups.
    -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script defer src="https://cdn.playground-v2.programiz.com/build/final.js?v=resize-fixv3"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKXT7MH" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

</html>