<!DOCTYPE html>
<html>

<head>
    @* Compile History *@
    <title>Online C# Compiler</title>
    <link rel="shortcut icon" href="~/assets/icons/logo.png" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <link rel="stylesheet" type="text/css" href="/fonts/font.css">
    <link rel="stylesheet" type="text/css" href="~/assets/modalPopup/index.css">
    <link rel="stylesheet" type="text/css" href="~/assets/chatboAI/index.css">
    <link rel="stylesheet" type="text/css" href="~/assets/sideBar/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js"></script>
    <script src="https://cmp.uniconsent.com/v2/stub.min.js"></script>
    <script async src='https://cmp.uniconsent.com/v2/a8d3ae4937/cmp.js'></script>
    <link rel="stylesheet" href="https://cdn.playground-v2.programiz.com/playground.css?v=1fsaf" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" asp-append-version="true">

</head>

<body>
    <div class="container">
        <div class="spinner">
            <div class="loader"><span>{</span><span>}</span></div>
        </div>

        <!-- Share code -->
        <partial name="~/Views/Shared/PartialView/_Share.cshtml" />

        <div class="wrapper">
            <!-- Header -->
            <partial name="_Header" />

            <!-- SideBar -->
            @{
                var hideSidebar = ViewData["HideSidebar"] as bool? ?? false;
            }

            @if (!hideSidebar)
            {
                @await Component.InvokeAsync("SideBar")
            }

            <!-- Render Body -->
            @RenderBody()

            <!-- Terminal -->
            @{
                var hideTerminal = ViewData["HideTerminal"] as bool? ?? false;
            }

            @if (!hideTerminal)
            {
                <partial name="_Terminal" />
            }

        </div>
    </div>
    <button class="toggle-chat-btn" onclick="toggleChatBox()">Chat</button>

    <!-- Chat Box for AI GPT -->
    <div class="chat-box" id="chatBox">
        <div class="chat-header">Chat with AI</div>
        <div class="chat-content" id="chatContent">
            <!-- Chat messages will be appended here -->
        </div>
        <div class="chat-input">
            <input type="text" id="chatInput" placeholder="Type a message..." />
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('.spinner').style.display = 'none';
            document.querySelector('.wrapper').style.display = 'block';
        });
    </script>
    @* Compile History *@
    <!-- Other JavaScript files -->
    <script defer src="~/js/shareCode.js"></script>
    <script defer src="~/js/uploadFile.js"></script>
    <script defer src="~/js/download.js"></script>
    <script defer src="~/js/changeSideBar.js"></script>
    <script defer src="~/js/hideSpinner.js"></script>
    <script defer src="~/assets/modalPopup/index.js"></script>
    <script defer src="~/assets/sideBar/index.js"></script>
    <script defer src="~/assets/chatboAI/index.js"></script>
    <script defer src="~/js/completeCodeHint.js"></script>
    <script defer src="~/js/CompilerHandler.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ext-language_tools.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script defer src="https://cdn.playground-v2.programiz.com/build/final.js?v=resize-fixv3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script defer src="~/js/compileHistory.js"></script>
</body>

</html>