<!--Share-->

<div class="share-link-generating-modal" style="display: none;">
    <div class="modal-backdrop-share"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Generating Link</h2>
            <h2 class="modal-title modal-title-mob">Generating Link</h2>
            <button type="button" class="close-modal" title="Close" onclick="window.closeModal()">X</button>
        </div>
        <div class="modal-body">
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</div>

<!--End-->