<!--Terminal Start-->

<div class="terminal-wrapper" style="width:35%">
    <div class="terminal-desktop-top-bar">
        <div class="shell-name">
            Output
        </div>
        <div class="terminal-desktop-top-bar__btn-wrapper">
            <button class="desktop-clear-button">
                &nbsp;Clear&nbsp;
            </button>
        </div>
    </div>
    <div id="terminal"></div>
</div>

<!--Terminal End-->