 @model List<CompileHistory>

<div class="sidebar-wrapper" style="width: 15%; color:#FFFFFF;" id="sidebar">

    <div class="custom-select-box " style="border-bottom: groove 1px #ccc;">
        <div class="header-and-select">
            <h3 class="d-inline">Language:</h3>
            <div class="select-box" id="selectBox">
                <img id="selectedIcon" class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/@(ViewBag.language).svg" alt="Selected Icon">
            </div>
        </div>
        <div class="select-options" id="selectOptions" style="display: none;">
            <div class="option" data-icon="https://cdn.playground-v2.programiz.com/assets/icons/python.svg">
                <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/python.svg" alt="Python Online" />
            </div>
            <div class="option" data-icon="https://cdn.playground-v2.programiz.com/assets/icons/csharp.svg">
                <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/csharp.svg" alt="C# Online" />
            </div>
            @* <div class="option" data-icon="https://cdn.playground-v2.programiz.com/assets/icons/java.svg">
                <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/java.svg" alt="Java Online" />
            </div>
            <div class="option" data-icon="https://cdn.playground-v2.programiz.com/assets/icons/javascript.svg">
                <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/javascript.svg" alt="JavaScript Online" />
            </div> *@
        </div>
    </div>

    <div id="compileHistorySection">
        <partial name="~/Views/Shared/PartialView/PartialCompileHistory.cshtml" model="@Model" />
    </div>

    <!-- Today Section -->
    @* <div class="history-category">
        <p class="time-history-box">Today</p>
        <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
            <li class="list-group-item history-box">
                <i class="bi bi-clock-history"></i> Array 2 string
            </li>
            <li class="list-group-item history-box">
                <i class="bi bi-clock-history"></i> Double loop
            </li>
        </ul>
    </div> *@
    
    <!-- Yesterday Section -->
    @* <div class="history-category">
    <p class="time-history-box">Yesterday</p>
    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
    <li class="list-group-item history-box">
    <i class="bi bi-clock-history"></i> Recursion practice A01
    </li>
    </ul>
    </div>

    <!-- Previous 7 Days Section -->
    <div class="history-category">
    <p class="time-history-box">Previous 7 Days</p>
    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
    <li class="list-group-item history-box">
    <i class="bi bi-clock-history"></i> OOP Code knowledge
    </li>
    </ul>
    <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
    <li class="list-group-item history-box">
    <i class="bi bi-clock-history"></i> DataStruct Practice
    </li>
    </ul>
    </div> *@

</div>
