<!--Sidebar Compile History-->

<div class="sidebar-wrapper" style="width: 15%; color:#FFFFFF;" id="sidebar">
    <div class="custom-select-box " style="border-bottom: groove 1px #ccc; padding-bottom:5px">
        <div class="header-and-select">
            <h3 class="d-inline">Language:</h3>
            <div class="select-box" id="selectBox">
                <img id="selectedIcon" class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/@(Context.Session.GetString("language")).svg" alt="Selected Icon">
            </div>
        </div>
        <div class="select-options" id="selectOptions" style="display: none;">
            <a class="option" data-icon="https://cdn.playground-v2.programiz.com/assets/icons/python.svg" asp-controller="Compile" asp-action="Python">
                <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/python.svg" alt="Python Online" />
            </a>
            <a class="option" data-icon="https://cdn.playground-v2.programiz.com/assets/icons/csharp.svg" asp-controller="Compile" asp-action="CSharp">
                <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/csharp.svg" alt="C# Online" />
            </a>
        </div>
    </div>

    <div id="compileHistorySection">
        <partial name="~/Views/Shared/_CompileHistory.cshtml" model="@Model" />
    </div>
</div>

<!--Sidebar Compile History-->
