<!--SideBar Start-->

<div class="sidebar-wrapper">
    <a target="_blank" href="https://www.programiz.com/python-programming/online-compiler/" class="change-lang-btn python active" title="Online Python Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/python.svg" alt="Python Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/r/online-compiler/" class="change-lang-btn r " title="Online R Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/r.svg" alt="R Programming Online" />
    </a>

    <a target="_blank" href="https://www.programiz.com/sql/online-compiler/" class="change-lang-btn sql" title="Online SQL Editor">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/sql.svg" alt="SQL Online" />
    </a>

    <a target="_blank" href="https://www.programiz.com/html/online-compiler/" class="change-lang-btn html" title="Online HTML/CSS Editor">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/html.svg" alt="HTML/CSS Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/java-programming/online-compiler/" class="change-lang-btn java " title="Online Java Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/java.svg" alt="Java Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/c-programming/online-compiler/" class="change-lang-btn c " title="Online C Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/c.svg" alt="C Programming Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/cpp-programming/online-compiler/" class="change-lang-btn cpp " title="Online C++ Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/cpp.svg" alt="C++ Programming Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/csharp-programming/online-compiler/" class="change-lang-btn csharp " title="Online C# Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/csharp.svg" alt="C# Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/javascript/online-compiler/" class="change-lang-btn javascript " title="Online JavaScript Compiler (Editor)">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/javascript.svg" alt="JavaScript Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/golang/online-compiler/" class="change-lang-btn golang " title="Online Golang Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/golang.svg" alt="Golang Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/php/online-compiler/" class="change-lang-btn php " title="Online PHP Compiler ">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/php.svg" alt="PHP Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/swift/online-compiler/" class="change-lang-btn swift " title="Online Swift Compiler ">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/swift.svg" alt="Swift Online" />
    </a>
    <a target="_blank" href="https://www.programiz.com/rust/online-compiler/" class="change-lang-btn rust " title="Online Rust Compiler">
        <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/rust.svg" alt="Rust Online" />
    </a>

</div>

<!--SideBar End-->