<div class=" share-link-modal" style="display: none;">
    <div class="modal-backdrop-share">
    </div>

    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Share your code</h2>
            <h2 class="modal-title modal-title-mob">Share code</h2>
            <button type="button" class="close-modal" title="Close">
                <img class="svg" src="https://cdn.playground-v2.programiz.com/assets/icons/close.svg" />
            </button>
        </div>

        <div class="modal-body">
            <div class="share-code-container">
                <input type="text" class="share-code-value" value="https://www.programiz.com/online-compiler/XXXXXXXXX" readonly />
            </div>
            <button class="share-code-copy-btn" title="Copy Link">Copy Link</button>
            <button class="share-code-copy-btn code-copied-success" title="Copied to clipboard">
                <img src="https://cdn.playground-v2.programiz.com/assets/icons/check.svg" alt="success" class="svg">
                Copied to clipboard
            </button>

            <!-- Social media share -->
            <div class="social-wrapper">
                <span>or share using</span>
                <div id="social-icons">
                </div>
            </div>
        </div>
    </div>
</div>