@{
    ViewData["HideTerminal"] = true;
    ViewData["HideSidebar"] = true;

    // List of languages
    var supportedLanguages = new List<(string Name, string Icon, string Action)> {
        ("C#", "Csharp.png", "CSharp"),
        ("Python", "Python.png", "Python"),
        ("Java", "Java.png", "Java"),
        ("C++", "C++.png", "C++"),
        ("JS", "JavaScript.png", "JavaScript")

    };

    supportedLanguages = supportedLanguages
    .Where(lang => !new[] { "" }.Contains(lang.Name))
    .ToList();
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="stylesheet" href="~/css/site.css?v=1.0" />
</head>
<body>
    <div class="welcome-container">
        <!-- Logo Section -->
        <img src="~/assets/icons/logo.png" alt="Logo" class="logo">

        <!-- Text Section -->
        <h2>Welcome to Online Compiler</h2>
        <p>Please select a programming language below to get started.</p>

        <!-- Button Section -->
        <div class="button-container">
            @foreach (var language in supportedLanguages)
            {
                <a asp-controller="Compile" asp-action="@language.Action" class="language-button">
                    <span>@language.Name</span>
                    <span class="icon">
                        <img src="~/assets/icons/@language.Icon" alt="@language.Name Icon">
                    </span>
                </a>
            }
        </div>
    </div>
</body>
</html>
