<div class="mobile-nav-drawer">
    <div class="nav-backdrop">
    </div>
    <div class="nav-menu">
        <div class="nav-header-wrapper">
            <div class="nav-logo-title-wrapper">
                <a href="https://www.programiz.com/" target="_blank" class="nav-logo-link">
                    <img id="nav-logo" src="https://cdn.playground-v2.programiz.com/assets/logos/logo.svg" />
                </a>
            </div>
            <button type="button" class="close-nav-btn" title="Close navigation">
                <img class="svg" src="https://cdn.playground-v2.programiz.com/assets/icons/close.svg" />
            </button>
        </div>
        <div class="nav-menu-list">
            <a target="_blank" href="https://www.programiz.com/python-programming/online-compiler/" class="change-lang-row python active" title="Online Python Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/python.svg" alt="Python Online" />
                </span>
                <span class="nav-menu-text">
                    Online Python Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/r/online-compiler/" class="change-lang-row r " class="change-lang-row r" title="Online R Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/r.svg" alt="R Programming Online" />
                </span>
                <span class="nav-menu-text">
                    Online R Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/sql/online-compiler/" class="change-lang-row sql" title="Online SQL Editor">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/sql.svg" alt="SQL Online" />
                </span>
                <span class="nav-menu-text">
                    Online SQL Editor
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/html/online-compiler/" class="change-lang-row html" title="Online HTML/CSS Editor">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/html.svg" alt="HTML/CSS Online" />
                </span>
                <span class="nav-menu-text">
                    Online HTML/CSS Editor
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/java-programming/online-compiler/" class="change-lang-row java " title="Online Java Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/java.svg" alt="Java Online" />
                </span>
                <span class="nav-menu-text">
                    Online Java Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/c-programming/online-compiler/" class="change-lang-row c " title="Online C Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/c.svg" alt="C Programming Online" />
                </span>
                <span class="nav-menu-text">
                    Online C Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/cpp-programming/online-compiler/" class="change-lang-row cpp " title="Online C++ Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/cpp.svg" alt="C++ Online" />
                </span>
                <span class="nav-menu-text">
                    Online C++ Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/csharp-programming/online-compiler/" class="change-lang-row csharp " title="Online C# Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/csharp.svg" alt="C# Online" />
                </span>
                <span class="nav-menu-text">
                    Online C# Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/javascript/online-compiler/" class="change-lang-row javascript " title="Online JavaScript Compiler (Editor)">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/javascript.svg" alt="JavaScript Online" />
                </span>
                <span class="nav-menu-text">
                    Online JavaScript Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/golang/online-compiler/" class="change-lang-row golang " title="Online GoLang Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/golang.svg" alt="Golang Online" />
                </span>
                <span class="nav-menu-text">
                    Online GoLang Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/php/online-compiler/" class="change-lang-row php " title="Online PHP Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/php.svg" alt="PHP Online" />
                </span>
                <span class="nav-menu-text">
                    Online PHP Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/swift/online-compiler/" class="change-lang-row swift " title="Online Swift Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/swift.svg" alt="Swift Online" />
                </span>
                <span class="nav-menu-text">
                    Online Swift Compiler
                </span>
            </a>
            <a target="_blank" href="https://www.programiz.com/rust/online-compiler/" class="change-lang-row rust " title="Online Rust Compiler">
                <span class="change-lang-btn">
                    <img class="change-lang-btn-icon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/rust.svg" alt="Rust Online" />
                </span>
                <span class="nav-menu-text">
                    Online Rust Compiler
                </span>
            </a>
        </div>
    </div>
</div>