@model List<CompileHistory>

@foreach (CompileHistory cpHistory in Model)
{
    <a class="history-category" asp-controller="CompileHistory" asp-action="showOldCompile" asp-route-compileId="@cpHistory.Id">
        <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0;">
            <li class="list-group-item history-box">
                <i class="bi bi-clock-history"></i>@cpHistory.Title
            </li>
        </ul>
    </a>
}

