
/* Thiết lập cho upload button */
.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 16px;
    width: 85px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid #d3dce6;
    background: none;
    color: #25265eab;
    cursor: pointer;
    padding: 6px;
}


.tablet-share {
    width: 32px;
}

.upload-icon.svg {
    width: 15px !important;
    height: 15px !important;
    display: block;
}

#fileInput {
    display: none;
}

.upload-button:hover {
    border-color: #ffffff;
}

.dark-mode .upload-button {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Style cho top-bar */
.desktop-top-bar__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #d3dce6;
    border-bottom: 1px solid #d3dce6;
    overflow: hidden;
}

.ace_content {
    width: 100% !important;
    height: 100%;
}

