<div class="editor-wrapper">
    <div class="editor-desktop-top-bar">
        <div class="file-name">
            main.py
        </div>
        <div class="desktop-top-bar__btn-wrapper">
            <!-- Fullscreen toggle button -->
            <button type="button" id="toggle-expanded-mode-desktop" title="Enter Fullscreen">
                <img class="toggle-expanded-mode-mobile-icon expand svg" src="https://cdn.playground-v2.programiz.com/assets/icons/expand.svg" />
                <img class="toggle-expanded-mode-mobile-icon minimize hidden svg" src="https://cdn.playground-v2.programiz.com/assets/icons/minimize.svg" />
            </button>

            <!-- Dark mode toggle button -->
            <button type="button" id="toggle-dark-mode-desktop" title="Toggle dark mode">
                <img class="toggle-dark-mode-mobile-icon moon svg" src="https://cdn.playground-v2.programiz.com/assets/icons/moon.svg" />
                <img class="toggle-dark-mode-mobile-icon sun svg" src="https://cdn.playground-v2.programiz.com/assets/icons/sun.svg" />
            </button>

            <!-- Share button -->
            <button class="share-button" title="Share">
                <img class="toggle-expanded-mode-mobile-icon svg share-icon" src="https://cdn.playground-v2.programiz.com/assets/icons/share.svg" />
                Share
            </button>

            <!-- Run button -->
            <button class="desktop-run-button run">
                <span class="run-text">
                    &nbsp;Run&nbsp;
                </span>
            </button>
        </div>
    </div>
    <button class="mobile-run-button run">
        Run
    </button>
    <div id="editor">
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
print("Try programiz.pro")
    </div>
</div>